<div>
  <h1>
    Registration
  </h1>
</div>
<div >  
<form (submit)="onSubmit()" #formData="ngForm">
  <label>Email: </label>
  <input 
    type="text" 
    name="email" 
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="user.email"
    #email='ngModel'
  /><br><br>
  <p [ngStyle]="{'color': 'red'}"
    *ngIf="email.errors && email.errors.minlength">Email must be at least {{email.errors.minlength.requiredLength}} characters</p>

  <label>First Name: </label>
  <input  
    type="text" 
    name="first_name" 
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="user.first_name"
    #first_name='ngModel'/><br><br>

    <!-- <p>{{first_name.errors | json}}</p> -->
    <!-- <p>{{first_name.valid | json}}</p> -->
  <!--   <p>{{first_name.touched | json}}</p> -->

    <p [ngStyle]="{'color': 'red'}"
    *ngIf="first_name.errors && first_name.errors.required && first_name.touched"> Firstname cannot be blank</p>
    <p [ngStyle]="{'color': 'red'}"
    *ngIf="first_name.errors && first_name.errors.minlength">Name must be at least {{first_name.errors.minlength.requiredLength}} characters</p>
  
  <label>Last Name: </label>
  <input 
    type="text" 
    name="last_name" 
    required 
    minlength="4" 
    maxlength="24"
    [(ngModel)]="user.last_name"
    #last_name='ngModel'
  /><br><br>

  <p [ngStyle]="{'color': 'red'}"
  *ngIf="last_name.errors && last_name.errors.minlength">
    Error lastname</p>

  <label>Password: </label>
  <input 
    type="text" 
    name="password" 
    required 
    minlength="10" 
    maxlength="24"
    pattern="^([a-zA-Z0-9@*#]{8,15})$"
    [(ngModel)]="user.password"
    #password='ngModel'
  /><br><br>
  <p [ngStyle]="{'color': 'red'}"
    *ngIf="password.errors && password.errors.minlength">Password must be at least {{password.errors.minlength.requiredLength}} characters</p>
  
  <input *ngIf="formData.valid == false" disabled type="submit" value="Register">
  <input *ngIf="formData.valid"  type="submit" value="Register">
  <!-- {{formData.valid | json}} -->
</form >
</div>